.git
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
__pycache__
.vscode
ssh-keygen -t ed25519 -C "felipeyamashita@PREFEITURA.GOV.SP.BR"
ssh-keygen -t ed25519 -C "felipeyamashita@PREFEITURA.GOV.SP.BR".pub
git_push.sh
chromedriver-linux64.zip
google-chrome-stable_current_amd64.deb
chromedriver-linux64
*.deb