.git

# cache #
__pycache__/
*.pyc
*.pyo
*.pyd
__pycache__
.vscode
chromedriver-linux64.zip
google-chrome-stable_current_amd64.deb
chromedriver-linux64
*.deb

# logs #
logs/

# Ambiente de desenvolvimente

.venv/
venv/
.lvenv
.wvenv

# chaves 
.env
git_push.sh